<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>飞智官方适配的默认配置</string>
		<key>info</key>
		<array>
			<string>4,0.9281,0.1760,1,0,切换枪</string>
			<string>5,0.1812,0.9,1,0,道具</string>
			<string>7,0.75,0.8916,1,0,下蹲</string>
			<string>8,0.6414,0.8927,1,0,触屏点击</string>
			<string>10,0.5773,0.4989,277,7680,体感按键</string>
			<string>11,0.9390,0.3343,1,0,自由模式下换枪</string>
			<string>13,0.8867,0.8520,1,0,射击</string>
			<string>12,0.1015,0.8979,1,0,触屏点击</string>
			<string>0,0.2703,0.8989,1,0,道具</string>
			<string>3,0.0429,0.4885,257,0,控制躲避方向</string>
			<string>2,0.3546,0.8968,1,0,道具</string>
			<string>1,0.9398,0.5177,257,0,向右躲避</string>
			<string>243,0.5593,0.4958,0.0000,4,16,0,0,控制方向</string>
			<string>242,0.2023,0.7020,0.0000,4,15,0,0,视角模式</string>
		</array>
		<key>name</key>
		<string>游戏初始配置</string>
	</dict>	
	<dict>
		<key>desc</key>
		<string>左摇杆控制人物移动，右摇杆和长按LB都能控制视角，模式必须选择“左手移动1”模式</string>
		<key>info</key>
		<array>
			<string>4,0.9179,0.1739,1,0,切换枪</string>
			<string>5,0.2296,0.9020,1,0,道具</string>
			<string>8,0.9468,0.3895,1,0,换弹药</string>
			<string>10,0.5445,0.4958,277,8192,按住拖动控制视角</string>
			<string>11,0.9429,0.5343,1,0,自由模式下换枪</string>
			<string>13,0.8757,0.8354,1,0,射击</string>
			<string>9,0.0445,0.0593,1,0,触屏点击</string>
			<string>0,0.6492,0.9010,1,0,道具</string>
			<string>3,0.5445,0.9020,1,0,触屏点击</string>
			<string>243,0.5281,0.4968,0.0000,4,16,0,0,控制方向</string>
			<string>242,0.1523,0.6552,0.1000,1,20,10,0,自由模式下控制方向</string>
		</array>
		<key>name</key>
		<string>自由射击模式配置</string>
	</dict>
</array>
</plist>
